.index__svgContainer--Gr2kE{
    left: 0;
    top: 0;
    position: relative;
    position: absolute;
}
.index__showLine--3E5hr{
    stroke: red;
    stroke-dasharray: 5,5;
    stroke-width: 1;
}
.index__showCircle--2zb0g{
    /* stroke="#0000FF" stroke-width="1" fill="#CCCCFF" class="topLeftDrawing"  */
    stroke: #0000ff;
    stroke-width: 1;
    fill: #ccccff;
    opacity: 1;
}

.index__actionLine--2ula9 {
    stroke: red;
    stroke-width: 5;
    transition: opacity 0.5s;
    opacity: 0;
}

.index__actionLine--2ula9:hover{
    transition: opacity 0.3s;
    opacity: 0.3;
}

.index__actionCircle--2OXYu{
    stroke-width: 0;
    fill: #000;
    fill-opacity: 0.5;
    opacity: 0;
    transition: opacity 0.5s;
}

.index__actionCircle--2OXYu:hover{
    opacity: 0.5;
    transition: opacity 0.3s;
}

.index__moveRect--20uTM{
    stroke-width: 0;
    fill: #000;
    fill-opacity: 0.5;
    opacity: 0;
    transition: opacity 0.5s;
}
.index__moveRect--20uTM:hover{
    cursor: move;
    opacity: 0.3;
    transition: opacity 0.3s;
}